<%- include('partials/header.ejs') %>

<body>
    <div class="container">

        <select id="countrypicker" onchange="catchD()" class="selectpicker countrypicker mt-5" data-default="BR"></select>
        <canvas id="myChart" class="mt-5" style="position: relative; height:60vh; width:80vw"></canvas>

    </div>

</body>


<%- include('partials/footer.ejs') %>