* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1f1f31;
}

p {
    color: white;
}

a {
    color: white;
}

.cardstyle {
    background-color: #373757;
    border-radius: 10px;
}